USE [master]
GO
/****** Object:  Database [LabWork44]    Script Date: 22.06.2024 13:58:11 ******/
CREATE DATABASE [LabWork44]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LabWork44', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LabWork44.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LabWork44_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LabWork44_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LabWork44].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LabWork44]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 22.06.2024 13:58:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[AuthorId] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 22.06.2024 13:58:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[AuthorId] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Genre] [nvarchar](10) NOT NULL,
	[Price] [decimal](6, 2) NOT NULL,
	[Weight] [decimal](4, 3) NOT NULL,
	[Pages] [smallint] NOT NULL,
	[PublicationYear] [smallint] NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 22.06.2024 13:58:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](20) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Order]    Script Date: 22.06.2024 13:58:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[OrderDatetime] [datetime] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderList]    Script Date: 22.06.2024 13:58:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderList](
	[OrderId] [int] NOT NULL,
	[BookId] [int] NOT NULL,
	[Amount] [tinyint] NOT NULL,
 CONSTRAINT [PK_OrderList] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Author] ON 

INSERT [dbo].[Author] ([AuthorId], [Surname], [Name], [Country]) VALUES (1, N'Пушкин', N'Александр', N'Россия')
INSERT [dbo].[Author] ([AuthorId], [Surname], [Name], [Country]) VALUES (2, N'Роулинг', N'Джоан', N'Англия')
INSERT [dbo].[Author] ([AuthorId], [Surname], [Name], [Country]) VALUES (3, N'Джордж', N'Мартин', N'США')
SET IDENTITY_INSERT [dbo].[Author] OFF
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([BookId], [AuthorId], [Title], [Genre], [Price], [Weight], [Pages], [PublicationYear]) VALUES (1, 1, N'Онегин', N'проза', CAST(2700.00 AS Decimal(6, 2)), CAST(3.000 AS Decimal(4, 3)), 5, NULL)
INSERT [dbo].[Book] ([BookId], [AuthorId], [Title], [Genre], [Price], [Weight], [Pages], [PublicationYear]) VALUES (2, 2, N'Кубок Огня', N'проза', CAST(1999.00 AS Decimal(6, 2)), CAST(4.000 AS Decimal(4, 3)), 1, 2000)
INSERT [dbo].[Book] ([BookId], [AuthorId], [Title], [Genre], [Price], [Weight], [Pages], [PublicationYear]) VALUES (6, 3, N'Маодзедун', N'поэзия', CAST(999.00 AS Decimal(6, 2)), CAST(4.300 AS Decimal(4, 3)), 100, 1960)
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerId], [Login], [Surname], [Name], [Address], [Phone]) VALUES (1, N'User123', N'Klyush', N'Kirill', N'Pushkina 77', N'89812612690')
INSERT [dbo].[Customer] ([CustomerId], [Login], [Surname], [Name], [Address], [Phone]) VALUES (5, N'User321', N'Kolosov', N'Yadim', N'Воронина 30', N'89234756378')
INSERT [dbo].[Customer] ([CustomerId], [Login], [Surname], [Name], [Address], [Phone]) VALUES (6, N'Step00', N'Gerasim', N'Stepan', N'Южная 2', N'+7911113845')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [CustomerId], [OrderDatetime]) VALUES (1, 1, CAST(N'2024-04-12T13:41:38.920' AS DateTime))
INSERT [dbo].[Order] ([OrderId], [CustomerId], [OrderDatetime]) VALUES (2, 5, CAST(N'2024-04-12T13:41:49.743' AS DateTime))
INSERT [dbo].[Order] ([OrderId], [CustomerId], [OrderDatetime]) VALUES (7, 6, CAST(N'2024-04-12T13:42:07.020' AS DateTime))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[OrderList] ([OrderId], [BookId], [Amount]) VALUES (1, 1, 2)
INSERT [dbo].[OrderList] ([OrderId], [BookId], [Amount]) VALUES (1, 2, 2)
INSERT [dbo].[OrderList] ([OrderId], [BookId], [Amount]) VALUES (1, 12, 2)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__5E55825B799E190E]    Script Date: 22.06.2024 13:58:11 ******/
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [UQ__Customer__5E55825B799E190E] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Author] ADD  CONSTRAINT [DF_Author_Country]  DEFAULT (N'Россия') FOR [Country]
GO
ALTER TABLE [dbo].[Book] ADD  CONSTRAINT [DF_Book_Genre]  DEFAULT (N'проза') FOR [Genre]
GO
ALTER TABLE [dbo].[Book] ADD  CONSTRAINT [DF_Book_Price]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Book] ADD  CONSTRAINT [DF_Book_Weight]  DEFAULT ((0)) FOR [Weight]
GO
ALTER TABLE [dbo].[Book] ADD  CONSTRAINT [DF_Book_Pages]  DEFAULT ((0)) FOR [Pages]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_OrderDatetime]  DEFAULT (getdate()) FOR [OrderDatetime]
GO
ALTER TABLE [dbo].[OrderList] ADD  CONSTRAINT [DF_OrderList_Amount]  DEFAULT ((1)) FOR [Amount]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Author] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Author] ([AuthorId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Author]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[OrderList]  WITH CHECK ADD  CONSTRAINT [FK_OrderList_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([BookId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[OrderList] CHECK CONSTRAINT [FK_OrderList_Book]
GO
ALTER TABLE [dbo].[OrderList]  WITH CHECK ADD  CONSTRAINT [FK_OrderList_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[OrderList] CHECK CONSTRAINT [FK_OrderList_Order]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [CK_BookGenre] CHECK  (([genre]='проза' OR [genre]='поэзия' OR [genre]='другое'))
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [CK_BookGenre]
GO
ALTER TABLE [dbo].[OrderList]  WITH CHECK ADD  CONSTRAINT [CK_OrderListAmount] CHECK  (([Amount]<=(100)))
GO
ALTER TABLE [dbo].[OrderList] CHECK CONSTRAINT [CK_OrderListAmount]
GO
/****** Object:  Statistic [_WA_Sys_00000002_35BCFE0A]    Script Date: 22.06.2024 13:58:11 ******/
CREATE STATISTICS [_WA_Sys_00000002_35BCFE0A] ON [dbo].[Author]([Surname]) WITH STATS_STREAM = 0x010000000100000000000000000000005C8469890000000066030000000000002603000000000000E7037B87E7000000640000000000000015D000006C00610007000000584EC40092B100000600000000000000060000000000000000000000ABAA2A3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000006000000060000000100000010000000ABAA4A410000C04000000000ABAA4A410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000000601000000000000A201000000000000AA01000000000000B2010000000000003000000000000000530000000000000076000000000000009B00000000000000BE00000000000000E300000000000000300010000000803F000000000000803F0400000100230013043E0433043E043B044C04300010000000803F000000000000803F04000001002300140436043E04400434043604300010000000803F000000000000803F040000010025001F0430043B0430043D0438043A04300010000000803F000000000000803F040000010023001F04430448043A0438043D04300010000000803F000000000000803F0400000100250020043E0443043B0438043D043304300010000000803F000000000000803F04000001002300250435043B043B043E044304FF01000000000000000600000006000000280000002800000000000000000000002500000013043E0433043E043B044C04140436043E044004340436041F0430043B0430043D0438043A04430448043A0438043D0420043E0443043B0438043D043304250435043B043B043E04430408000000400000000081060000008106060000C0010C000081060D00000105130000810718000001061F00000006000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000003_35BCFE0A]    Script Date: 22.06.2024 13:58:11 ******/
CREATE STATISTICS [_WA_Sys_00000003_35BCFE0A] ON [dbo].[Author]([Name]) WITH STATS_STREAM = 0x0100000001000000000000000000000004615BDD000000002E03000000000000EE02000000000000E7037C87E7000000640000000000000015D000002802000007000000584EC40092B10000060000000000000006000000000000000000803FABAA2A3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000010000000ABAA3A410000C04000000000ABAA3A41000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000D7000000000000006A0100000000000072010000000000007A010000000000002800000000000000510000000000000072000000000000009500000000000000BA00000000000000300010000000803F000000000000803F0400000100290010043B0435043A04410430043D0434044004300010000000803F0000803F0000803F04000001002100140436043E0430043D04300010000000803F000000000000803F040000010023001C0430044004420438043D04300010000000803F000000000000803F040000010025001D0438043A043E043B0430043904300010000000803F000000000000803F04000001001D00270430043A04FF01000000000000000600000006000000280000002800000000000000000000002300000010043B0435043A04410430043D043404400412043E0440043B043404140436043E0430043D041C0430044004420438043D041D0438043A043E043B0430043904270430043A040700000040000000008109000000810509000081050E00008106130000810719000001032000000006000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000004_35BCFE0A]    Script Date: 22.06.2024 13:58:11 ******/
CREATE STATISTICS [_WA_Sys_00000004_35BCFE0A] ON [dbo].[Author]([Country]) WITH STATS_STREAM = 0x010000000100000000000000000000003736B00C0000000047030000000000000703000000000000E7030000E70000003C0000000000000015D000000000000007000000584EC40092B100000600000000000000060000000000000000000000CDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000010000000555565410000C0400000000055556541000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000EB0000000000000083010000000000008B01000000000000930100000000000028000000000000004B000000000000007200000000000000AB00000000000000CE00000000000000300010000000803F000000000000803F0400000100230010043D0433043B0438044F04300010000000803F000000000000803F040000010027001A0443043A044004300438043D043004300010000000803F000000000000803F040000010039001F0440043E043304400430043C043C043804410442043B044F043D04340438044F04300010000000803F000000000000803F0400000100230020043E044104410438044F043000100000000040000000000000803F04000001001D00210428041004FF01000000000000000600000005000000280000002800000000000000000000002800000010043D0433043B0438044F041A0443043A044004300438043D0430041F0440043E043304400430043C043C043804410442043B044F043D04340438044F0420043E044104410438044F042104280410040600000040000000008106000000810806000081110E000081061F000002032500000006000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [PK_Author]    Script Date: 22.06.2024 13:58:11 ******/
UPDATE STATISTICS [dbo].[Author]([PK_Author]) WITH STATS_STREAM = 0x010000000100000000000000000000003D12F29C000000003802000000000000F801000000000000380300003800000004000A0000000000000000000000000007000000CF0BC30092B10000060000000000000006000000000000000000803FABAA2A3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000014000000000080400000C04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000007C0000000000000084000000000000008C00000000000000200000000000000037000000000000004E000000000000006500000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F05000000040000100014000000803F000000000000803F0600000004000006000000000000000000000000000000,ROWCOUNT = 7,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [_WA_Sys_00000002_37A5467C]    Script Date: 22.06.2024 13:58:11 ******/
CREATE STATISTICS [_WA_Sys_00000002_37A5467C] ON [dbo].[Book]([AuthorId]) WITH STATS_STREAM = 0x0100000001000000000000000000000018AAE43F0000000057020000000000001702000000000000380300003800000004000A0000000000000000000000000007000000CF0BC30092B100000D000000000000000D000000000000000000803FABAA2A3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000014000000000080400000504100000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000009B00000000000000A300000000000000AB0000000000000028000000000000003F0000000000000056000000000000006D000000000000008400000000000000100014000000803F000000000000803F010000000400001000140000008040000000000000803F020000000400001000140000000040000000000000803F03000000040000100014000000803F0000803F0000803F050000000400001000140000008040000000000000803F060000000400000D000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000003_37A5467C]    Script Date: 22.06.2024 13:58:11 ******/
CREATE STATISTICS [_WA_Sys_00000003_37A5467C] ON [dbo].[Book]([Title]) WITH STATS_STREAM = 0x0100000001000000000000000000000089B0895F00000000E204000000000000A204000000000000E7030000E7000000640000000000000015D00000000000000700000083D1C40092B100000D000000000000000D000000000000000000803FABAAAA3D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000B0000000B0000000100000010000000143BA1410000504100000000143BA1410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000001F020000000000001E0300000000000026030000000000002E0300000000000058000000000000007900000000000000A600000000000000C900000000000000020100000000000027010000000000004E0100000000000077010000000000009A01000000000000BF01000000000000E201000000000000300010000000803F000000000000803F0400000100210041006E0069006D006500300010000000803F000000000000803F04000001002D00470065006E0067006500720062007200610076006500300010000000803F000000000000803F04000001002300480061006E0069006D006500300010000000803F000000000000803F040000010039004D0061006F00200044007A00650064006F006E00670020005400680065006D006500300010000000803F000000000000803F040000010025005400680065002000770061007900300010000000803F000000000000803F040000010027001C043E044F04200038043304400430043000100000000040000000000000803F040000010029001C043E044F04200038043304400430043200300010000000803F000000000000803F040000010023001D0438044704350433043E04300010000000803F000000000000803F040000010025001F043E0440044204400435044204300010000000803F000000000000803F0400000100230021043A04300437043A043804300010000000803F0000803F0000803F04000001003D0021043A04300437043A04380420003F0440043E04200047043504400432044F043A043E043204FF01000000000000000A00000009000000280000002800000000000000000000004F00000041006E0069006D006500480061006E0069006D0065004D0061006F00200044007A00650064006F006E00670020005400680065006D00650054006800650020007700610079001C043E044F042000380433044004300432001D0438044704350433043E0421043A04300437043A04380420003F0440043E0420003E0441044C043C0435043D043E04360435043A0447043504400432044F043A043E0432040B00000040000000008105000000810605000081110B000081071C0000820923000081062C000041063200004005380000810A3D00000108470000000D000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000004_37A5467C]    Script Date: 22.06.2024 13:58:11 ******/
CREATE STATISTICS [_WA_Sys_00000004_37A5467C] ON [dbo].[Book]([Genre]) WITH STATS_STREAM = 0x010000000100000000000000000000009EF0D3BA00000000A6020000000000006602000000000000E7030000E7000000140000000000000015D00000000000000700000084D1C40092B100000D000000000000000D0000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000010000000C54E2C410000504100000000C54E2C410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000007F00000000000000E200000000000000EA00000000000000F20000000000000018000000000000003B000000000000005E000000000000003000100000004040000000000000803F0400000100230034044004430433043E0435043000100000000040000000000000803F040000010023003F043E044D04370438044F043000100000000041000000000000803F040000010021003F0440043E0437043004FF01000000000000000A00000003000000280000002800000000000000000000001000000034044004430433043E0435043F043E044D04370438044F0440043E043704300405000000400000000082060000004001060000820507000006040C0000000D000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000005_37A5467C]    Script Date: 22.06.2024 13:58:11 ******/
CREATE STATISTICS [_WA_Sys_00000005_37A5467C] ON [dbo].[Book]([Price]) WITH STATS_STREAM = 0x01000000010000000000000000000000A85DDB2300000000DC020000000000009C020000000000006A0300006A000000050006020000000000000000000000000700000082D1C40092B100000D000000000000000D000000000000000000803F8C2EBA3D0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000090000000900000001000000150000000000A04000005041000000000000A0400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000002001000000000000280100000000000030010000000000004800000000000000600000000000000078000000000000009000000000000000A800000000000000C000000000000000D800000000000000F0000000000000000801000000000000100015000000803F000000000000803F00409C00000400001000150000004040000000000000803F0100000000040000100015000000803F000000000000803F0150C30000040000100015000000803F000000000000803F0160EA0000040000100015000000803F0000803F0000803F013C860100040000100015000000803F0000803F0000803F01DC0C0300040000100015000000803F000000000000803F01B01E0400040000100015000000803F000000000000803F019CA50E00040000100015000000803F000000000000803F01DC410F000400000D000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000006_37A5467C]    Script Date: 22.06.2024 13:58:11 ******/
CREATE STATISTICS [_WA_Sys_00000006_37A5467C] ON [dbo].[Book]([Weight]) WITH STATS_STREAM = 0x0100000001000000000000000000000072D33683000000005C020000000000001C020000000000006A0300006A000000050004030000000000000000000000000700000083D1C40092B100000D000000000000000D0000000000000000000000CDCC4C3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000050000000500000001000000150000000000A04000005041000000000000A040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011040000000000000000000000000000A000000000000000A800000000000000B00000000000000028000000000000004000000000000000580000000000000070000000000000008800000000000000100015000000C040000000000000803F01000000000400001000150000004040000000000000803F01A00F00000400001000150000000040000000000000803F0188130000040000100015000000803F000000000000803F0170170000040000100015000000803F000000000000803F010F2700000400000D000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000007_37A5467C]    Script Date: 22.06.2024 13:58:11 ******/
CREATE STATISTICS [_WA_Sys_00000007_37A5467C] ON [dbo].[Book]([Pages]) WITH STATS_STREAM = 0x010000000100000000000000000000007CCB384500000000870200000000000047020000000000003403000034000000020005000000000000000000000000000700000083D1C40092B100000D000000000000000D00000000000000000000002549123E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000700000007000000010000001200000000000040000050410000000000000040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011040000000000000000000000000000CB00000000000000D300000000000000DB0000000000000038000000000000004D00000000000000620000000000000077000000000000008C00000000000000A100000000000000B600000000000000100012000000E040000000000000803F0000040000100012000000803F000000000000803F0100040000100012000000803F000000000000803F0500040000100012000000803F000000000000803F0A00040000100012000000803F000000000000803F6400040000100012000000803F000000000000803FF000040000100012000000803F000000000000803FFA000400000D000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000008_37A5467C]    Script Date: 22.06.2024 13:58:11 ******/
CREATE STATISTICS [_WA_Sys_00000008_37A5467C] ON [dbo].[Book]([PublicationYear]) WITH STATS_STREAM = 0x010000000100000000000000000000001540EB3B000000006A020000000000002A0200000000000034020000340000000200050000000000000000000000000007000000B7EDC40092B100000D000000000000000D00000000000000000000002549123E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000006000000060000000100000012000000143BB13F0000504100008040143BB13F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011040000000000000000000000000000AE00000000000000B600000000000000BE00000000000000300000000000000045000000000000005A000000000000006F0000000000000084000000000000009900000000000000100012000000803F000000000000803FE903040000100012000000803F000000000000803FA8070400001000120000000040000000000000803FD007040000100012000000803F000000000000803FD5070400001000120000004040000000000000803FD607040000100012000000803F000000000000803FE8070400000D000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [PK_Book]    Script Date: 22.06.2024 13:58:11 ******/
UPDATE STATISTICS [dbo].[Book]([PK_Book]) WITH STATS_STREAM = 0x01000000010000000000000000000000EC3CBB7A00000000B4020000000000007402000000000000380300003800000004000A0000000000000000000000000007000000D00BC30092B100000D000000000000000D000000000000000000803FD9899D3D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000800000008000000010000001400000000008040000050410000000000008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011040000000000000000000000000000F80000000000000000010000000000000801000000000000400000000000000057000000000000006E0000000000000085000000000000009C00000000000000B300000000000000CA00000000000000E100000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F02000000040000100014000000803F000000000000803F06000000040000100014000000803F000000000000803F07000000040000100014000000803F000000000000803F0C000000040000100014000000803F000000400000803F10000000040000100014000000803F0000803F0000803F12000000040000100014000000803F000000400000803F160000000400000D000000000000000000000000000000,ROWCOUNT = 13,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [_WA_Sys_00000003_398D8EEE]    Script Date: 22.06.2024 13:58:11 ******/
CREATE STATISTICS [_WA_Sys_00000003_398D8EEE] ON [dbo].[Customer]([Surname]) WITH STATS_STREAM = 0x010000000100000000000000000000008ACB365A000000002303000000000000E302000000000000E7030000E7000000640000000000000015D0000000000000070000006CB1C50092B100000500000000000000050000000000000000000000CDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000010000000666646410000A0400000000066664641000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000D9000000000000005F0100000000000067010000000000006F0100000000000028000000000000004D000000000000006A000000000000008D00000000000000B600000000000000300010000000803F000000000000803F0400000100250047006F006F0064006D0061006E00300010000000803F000000000000803F04000001001D00480065006B00300010000000803F000000000000803F040000010023004B006C007900750073006800300010000000803F000000000000803F0400000100290050006F0067007200650062006E006F007900300010000000803F000000000000803F040000010023001C0438044504300438043B04FF01000000000000000500000005000000280000002800000000000000000000001F00000047006F006F0064006D0061006E00480065006B004B006C00790075007300680050006F0067007200650062006E006F0079001C0438044504300438043B040600000040000000008107000000810307000081060A0000810910000001061900000005000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000004_398D8EEE]    Script Date: 22.06.2024 13:58:11 ******/
CREATE STATISTICS [_WA_Sys_00000004_398D8EEE] ON [dbo].[Customer]([Name]) WITH STATS_STREAM = 0x01000000010000000000000000000000DB7FBCDC000000001303000000000000D302000000000000E7030000E7000000640000000000000015D0000000000000070000006DB1C50092B100000500000000000000050000000000000000000000CDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000010000000CDCC2C410000A04000000000CDCC2C41000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000D1000000000000004F0100000000000057010000000000005F01000000000000280000000000000045000000000000006A000000000000008B00000000000000AA00000000000000300010000000803F000000000000803F04000001001D00480075006B00300010000000803F000000000000803F040000010025004900760061006E00650073007300300010000000803F000000000000803F040000010021004B006900720079006100300010000000803F000000000000803F04000001001F0057006F006C006600300010000000803F000000000000803F040000010027002D0439043D0448044204350439043D04FF01000000000000000500000005000000280000002800000000000000000000001B000000480075006B004900760061006E006500730073004B00690072007900610057006F006C0066002D0439043D0448044204350439043D040600000040000000008103000000810703000081050A000081040F000001081300000005000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000005_398D8EEE]    Script Date: 22.06.2024 13:58:11 ******/
CREATE STATISTICS [_WA_Sys_00000005_398D8EEE] ON [dbo].[Customer]([Address]) WITH STATS_STREAM = 0x01000000010000000000000000000000607F8C00000000006A030000000000002A03000000000000E7030000E7000000C80000000000000015D0000000000000070000006DB1C50092B100000500000000000000050000000000000000000000CDCC4C3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000050000000500000001000000100000009A9999410000A040000000009A999941000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000FB00000000000000A601000000000000AE01000000000000B601000000000000280000000000000055000000000000008600000000000000AD00000000000000D400000000000000300010000000803F000000000000803F04000001002D0050007500730068006B0069006E006100200037003700300010000000803F000000000000803F040000010031001A0430043B0430044204430448043A0438043D04300420003300300010000000803F000000000000803F040000010027001A0440044304420430044F0420003100300010000000803F000000000000803F040000010027001F043E043F043E043204300420003100300010000000803F000000000000803F040000010027002E0436043D0430044F04200032003100FF01000000000000000500000005000000280000002800000000000000000000002F00000050007500730068006B0069006E0061002000370037001A0430043B0430044204430448043A0438043D0430042000330040044304420430044F04200031001F043E043F043E0432043004200031002E0436043D0430044F04200032003100070000004000000000810B000000C0010B0000810C0C0000010718000081081F000001082700000005000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000006_398D8EEE]    Script Date: 22.06.2024 13:58:11 ******/
CREATE STATISTICS [_WA_Sys_00000006_398D8EEE] ON [dbo].[Customer]([Phone]) WITH STATS_STREAM = 0x01000000010000000000000000000000F0D09EE300000000CB020000000000008B02000000000000E7020000E7000000280000000000000015D0000000000000070000006DB1C50092B1000005000000000000000500000000000000000000000000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000010000000CDCC2C410000A04000000040CDCC2C41000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000930000000000000007010000000000000F010000000000001701000000000000180000000000000041000000000000006A00000000000000300010000000803F000000000000803F040000010029002B0037003900310031003100310033003800300010000000803F000000000000803F04000001002900380039003800310032003600310032003600300010000000803F000000000000803F04000001002900390031003800320033003600340036003400FF01000000020000000500000004000000280000002800000000000000000000001B0000002B00370039003100310031003100330038003800390038003100320036003100320036003900310038003200330036003400360034000400000040000000008109000000810909000001091200000005000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [PK_Customer]    Script Date: 22.06.2024 13:58:11 ******/
UPDATE STATISTICS [dbo].[Customer]([PK_Customer]) WITH STATS_STREAM = 0x0100000001000000000000000000000086AEAD6C0000000057020000000000001702000000000000380300003800000004000A0000000000000000000000000007000000D00BC30092B100000500000000000000050000000000000000000000CDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000014000000000080400000A04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000009B00000000000000A300000000000000AB0000000000000028000000000000003F0000000000000056000000000000006D000000000000008400000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F05000000040000100014000000803F000000000000803F06000000040000100014000000803F000000000000803F08000000040000100014000000803F000000000000803F0900000004000005000000000000000000000000000000,ROWCOUNT = 5,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [UQ__Customer__5E55825B799E190E]    Script Date: 22.06.2024 13:58:11 ******/
UPDATE STATISTICS [dbo].[Customer]([UQ__Customer__5E55825B799E190E]) WITH STATS_STREAM = 0x01000000020000000000000000000000B2E2E2990000000058000000000000000000000000000000A7030000A7000000140000000000000015D0000000000000380300003800000004000A00000000000000000000000000,ROWCOUNT = 5,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [_WA_Sys_00000002_3C69FB99]    Script Date: 22.06.2024 13:58:11 ******/
CREATE STATISTICS [_WA_Sys_00000002_3C69FB99] ON [dbo].[Order]([CustomerId]) WITH STATS_STREAM = 0x010000000100000000000000000000003971A474000000001902000000000000D901000000000000380300003800000004000A0000000000000000000000000007000000D00BC30092B100000900000000000000090000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000104100000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000005D0000000000000065000000000000006D0000000000000018000000000000002F0000000000000046000000000000001000140000004040000000000000803F010000000400001000140000008040000000000000803F050000000400001000140000000040000000000000803F0600000004000009000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [PK_Order]    Script Date: 22.06.2024 13:58:11 ******/
UPDATE STATISTICS [dbo].[Order]([PK_Order]) WITH STATS_STREAM = 0x01000000010000000000000000000000EB4161F00000000076020000000000003602000000000000380300003800000004000A0000000000000000000000000007000000D10BC30092B10000090000000000000009000000000000000000803F398EE33D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000600000006000000010000001400000000008040000010410000000000008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011040000000000000000000000000000BA00000000000000C200000000000000CA00000000000000300000000000000047000000000000005E0000000000000075000000000000008C00000000000000A300000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F02000000040000100014000000803F0000803F0000803F0C000000040000100014000000803F0000803F0000803F0E000000040000100014000000803F0000803F0000803F10000000040000100014000000803F000000000000803F1100000004000009000000000000000000000000000000,ROWCOUNT = 9,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [_WA_Sys_00000002_3E52440B]    Script Date: 22.06.2024 13:58:11 ******/
CREATE STATISTICS [_WA_Sys_00000002_3E52440B] ON [dbo].[OrderList]([BookId]) WITH STATS_STREAM = 0x0100000001000000000000000000000046F4AEF0000000003802000000000000F801000000000000380300003800000004000A0000000000000000000000000007000000D00BC30092B1000007000000000000000700000000000000000000000000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000014000000000080400000E04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000007C0000000000000084000000000000008C00000000000000200000000000000037000000000000004E0000000000000065000000000000001000140000000040000000000000803F010000000400001000140000000040000000000000803F020000000400001000140000000040000000000000803F0C000000040000100014000000803F000000000000803F1000000004000007000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [PK_OrderList]    Script Date: 22.06.2024 13:58:11 ******/
UPDATE STATISTICS [dbo].[OrderList]([PK_OrderList]) WITH STATS_STREAM = 0x0100000002000000000000000000000022240C82000000003102000000000000D901000000000000380300003800000004000A00000000000000000000000000380300003800000004000A0000000000000000000000000007000000D10BC30092B10000070000000000000007000000000000000000803F0000803E2549123E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000200000014000000000000410000E04000000000000080400000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000005D0000000000000065000000000000006D0000000000000018000000000000002F0000000000000046000000000000001000140000004040000000000000803F01000000040000100014000000803F0000803F0000803F0C0000000400001000140000000040000000000000803F0D00000004000007000000000000000000000000000000,ROWCOUNT = 7,PAGECOUNT = 1,AUTO_DROP = OFF
GO
USE [master]
GO
